body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-image:url( https://wallpaper-house.com/data/out/8/wallpaper2you_261578.jpg);
  }
  
  .container {
    width: 50%;
    margin: auto;
    background: #fff;
    padding: 20px;
    margin-top: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 10px;
    height: 50px;
    background: transparent;  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  
  button {
    background: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    width: 100%;
    cursor: pointer;
  }
  
  button:hover {
    background: #45a049;
  }
  
  
  